#timeTable {
    border-collapse: collapse;
}
td, th {
    width: 120px;
    border: 1px solid black;
}
th {
    background: #fefb00;
}

.sub-header {
    background: #ffb300;
    text-align: center;
    font-weight: bold;
}

.clear {
    background: unset;
}